map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ stremio_torrent_stream_proxy_domain }}{% for static_site in stremio_torrent_stream_proxy_static_sites %} {{ static_site.domain }}{% endfor %};

    location / {
        return 301 https://$host$request_uri;
    }
}

{% for static_site in stremio_torrent_stream_proxy_static_sites %}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{ static_site.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ static_site.tls_domain | default(static_site.domain) }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ static_site.tls_domain | default(static_site.domain) }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers HIGH:!aNULL:!MD5;

    root /srv/static-sites/{{ static_site.domain }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}

{% endfor %}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{ stremio_torrent_stream_proxy_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ stremio_torrent_stream_proxy_tls_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ stremio_torrent_stream_proxy_tls_domain }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers HIGH:!aNULL:!MD5;

    proxy_http_version 1.1;
    proxy_read_timeout 1h;
    proxy_send_timeout 1h;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_pass http://stremio-addon-server:{{ stremio_torrent_stream_http_port }};
    }
}
