http:
  pprof:
    port: {{ adguard_pprof_port }}
    enabled: {{ adguard_pprof_enabled | to_json }}
  address: 0.0.0.0:{{ adguard_internal_web_port }}
  session_ttl: {{ adguard_session_ttl }}
users: {{ adguard_effective_users | default(adguard_users) | to_json }}
auth_attempts: {{ adguard_auth_attempts }}
block_auth_min: {{ adguard_block_auth_min }}
http_proxy: {{ adguard_http_proxy | to_json }}
language: {{ adguard_language | to_json }}
theme: {{ adguard_theme | to_json }}
dns:
  bind_hosts: {{ adguard_dns_bind_hosts | to_json }}
  port: {{ adguard_dns_port }}
  anonymize_client_ip: {{ adguard_dns_anonymize_client_ip | to_json }}
  ratelimit: {{ adguard_dns_ratelimit }}
  ratelimit_subnet_len_ipv4: {{ adguard_dns_ratelimit_subnet_len_ipv4 }}
  ratelimit_subnet_len_ipv6: {{ adguard_dns_ratelimit_subnet_len_ipv6 }}
  ratelimit_whitelist: {{ adguard_dns_ratelimit_whitelist | to_json }}
  refuse_any: {{ adguard_dns_refuse_any | to_json }}
  upstream_dns: {{ adguard_dns_upstream_dns | to_json }}
  upstream_dns_file: {{ adguard_dns_upstream_dns_file | to_json }}
  bootstrap_dns: {{ adguard_dns_bootstrap_dns | to_json }}
  fallback_dns: {{ adguard_dns_fallback_dns | to_json }}
  upstream_mode: {{ adguard_dns_upstream_mode | to_json }}
  fastest_timeout: {{ adguard_dns_fastest_timeout | to_json }}
  allowed_clients: {{ adguard_dns_allowed_clients | to_json }}
  disallowed_clients: {{ adguard_dns_disallowed_clients | to_json }}
  blocked_hosts: {{ adguard_dns_blocked_hosts | to_json }}
  trusted_proxies: {{ adguard_dns_trusted_proxies | to_json }}
  cache_enabled: {{ adguard_dns_cache_enabled | to_json }}
  cache_size: {{ adguard_dns_cache_size }}
  cache_ttl_min: {{ adguard_dns_cache_ttl_min }}
  cache_ttl_max: {{ adguard_dns_cache_ttl_max }}
  cache_optimistic: {{ adguard_dns_cache_optimistic | to_json }}
  cache_optimistic_answer_ttl: {{ adguard_dns_cache_optimistic_answer_ttl | to_json }}
  cache_optimistic_max_age: {{ adguard_dns_cache_optimistic_max_age | to_json }}
  bogus_nxdomain: {{ adguard_dns_bogus_nxdomain | to_json }}
  aaaa_disabled: {{ adguard_dns_aaaa_disabled | to_json }}
  enable_dnssec: {{ adguard_dns_enable_dnssec | to_json }}
  edns_client_subnet: {{ adguard_dns_edns_client_subnet | to_json }}
  max_goroutines: {{ adguard_dns_max_goroutines }}
  handle_ddr: {{ adguard_dns_handle_ddr | to_json }}
  ipset: {{ adguard_dns_ipset | to_json }}
  ipset_file: {{ adguard_dns_ipset_file | to_json }}
  bootstrap_prefer_ipv6: {{ adguard_dns_bootstrap_prefer_ipv6 | to_json }}
  upstream_timeout: {{ adguard_dns_upstream_timeout | to_json }}
  private_networks: {{ adguard_dns_private_networks | to_json }}
  use_private_ptr_resolvers: {{ adguard_dns_use_private_ptr_resolvers | to_json }}
  local_ptr_upstreams: {{ adguard_dns_local_ptr_upstreams | to_json }}
  use_dns64: {{ adguard_dns_use_dns64 | to_json }}
  dns64_prefixes: {{ adguard_dns_dns64_prefixes | to_json }}
  serve_http3: {{ adguard_dns_serve_http3 | to_json }}
  use_http3_upstreams: {{ adguard_dns_use_http3_upstreams | to_json }}
  serve_plain_dns: {{ adguard_dns_serve_plain_dns | to_json }}
  hostsfile_enabled: {{ adguard_dns_hostsfile_enabled | to_json }}
  pending_requests:
    enabled: {{ adguard_dns_pending_requests_enabled | to_json }}
tls:
  enabled: {{ adguard_tls_enabled | to_json }}
  server_name: {{ adguard_tls_server_name | to_json }}
  force_https: {{ adguard_tls_force_https | to_json }}
  port_https: {{ adguard_tls_port_https }}
  port_dns_over_tls: {{ adguard_tls_port_dns_over_tls }}
  port_dns_over_quic: {{ adguard_tls_port_dns_over_quic }}
  port_dnscrypt: {{ adguard_tls_port_dnscrypt }}
  dnscrypt_config_file: {{ adguard_tls_dnscrypt_config_file | to_json }}
  allow_unencrypted_doh: {{ adguard_tls_allow_unencrypted_doh | to_json }}
  certificate_chain: {{ adguard_tls_certificate_chain | to_json }}
  private_key: {{ adguard_tls_private_key | to_json }}
  certificate_path: {{ adguard_tls_certificate_path | to_json }}
  private_key_path: {{ adguard_tls_private_key_path | to_json }}
  strict_sni_check: {{ adguard_tls_strict_sni_check | to_json }}
querylog:
  dir_path: {{ adguard_querylog_dir_path | to_json }}
  ignored: {{ adguard_querylog_ignored | to_json }}
  interval: {{ adguard_querylog_interval | to_json }}
  size_memory: {{ adguard_querylog_size_memory }}
  enabled: {{ adguard_querylog_enabled | to_json }}
  ignored_enabled: {{ adguard_querylog_ignored_enabled | to_json }}
  file_enabled: {{ adguard_querylog_file_enabled | to_json }}
statistics:
  dir_path: {{ adguard_statistics_dir_path | to_json }}
  ignored: {{ adguard_statistics_ignored | to_json }}
  interval: {{ adguard_statistics_interval | to_json }}
  enabled: {{ adguard_statistics_enabled | to_json }}
  ignored_enabled: {{ adguard_statistics_ignored_enabled | to_json }}
filters: {{ adguard_filters | to_json }}
whitelist_filters: {{ adguard_whitelist_filters | to_json }}
user_rules: {{ adguard_user_rules | to_json }}
dhcp:
  enabled: {{ adguard_dhcp_enabled | to_json }}
  interface_name: {{ adguard_dhcp_interface_name | to_json }}
  local_domain_name: {{ adguard_dhcp_local_domain_name | to_json }}
  dhcpv4: {{ adguard_dhcpv4 | to_json }}
  dhcpv6: {{ adguard_dhcpv6 | to_json }}
filtering:
  blocking_ipv4: {{ adguard_filtering_blocking_ipv4 | to_json }}
  blocking_ipv6: {{ adguard_filtering_blocking_ipv6 | to_json }}
  blocked_services:
    schedule:
      time_zone: {{ adguard_filtering_blocked_services_schedule_time_zone | to_json }}
    ids: {{ adguard_filtering_blocked_services_ids | to_json }}
  protection_disabled_until: {{ adguard_filtering_protection_disabled_until | to_json }}
  safe_search: {{ adguard_filtering_safe_search | to_json }}
  blocking_mode: {{ adguard_filtering_blocking_mode | to_json }}
  parental_block_host: {{ adguard_filtering_parental_block_host | to_json }}
  safebrowsing_block_host: {{ adguard_filtering_safebrowsing_block_host | to_json }}
  rewrites: {{ adguard_filtering_rewrites | to_json }}
  safe_fs_patterns: {{ adguard_filtering_safe_fs_patterns | to_json }}
  safebrowsing_cache_size: {{ adguard_filtering_safebrowsing_cache_size }}
  safesearch_cache_size: {{ adguard_filtering_safesearch_cache_size }}
  parental_cache_size: {{ adguard_filtering_parental_cache_size }}
  cache_time: {{ adguard_filtering_cache_time }}
  filters_update_interval: {{ adguard_filtering_filters_update_interval }}
  blocked_response_ttl: {{ adguard_filtering_blocked_response_ttl }}
  filtering_enabled: {{ adguard_filtering_filtering_enabled | to_json }}
  rewrites_enabled: {{ adguard_filtering_rewrites_enabled | to_json }}
  parental_enabled: {{ adguard_filtering_parental_enabled | to_json }}
  safebrowsing_enabled: {{ adguard_filtering_safebrowsing_enabled | to_json }}
  protection_enabled: {{ adguard_filtering_protection_enabled | to_json }}
clients:
  runtime_sources: {{ adguard_clients_runtime_sources | to_json }}
  persistent: {{ adguard_clients_persistent | to_json }}
log:
  enabled: {{ adguard_log_enabled | to_json }}
  file: {{ adguard_log_file | to_json }}
  max_backups: {{ adguard_log_max_backups }}
  max_size: {{ adguard_log_max_size }}
  max_age: {{ adguard_log_max_age }}
  compress: {{ adguard_log_compress | to_json }}
  local_time: {{ adguard_log_local_time | to_json }}
  verbose: {{ adguard_log_verbose | to_json }}
os:
  group: {{ adguard_os_group | to_json }}
  user: {{ adguard_os_user | to_json }}
  rlimit_nofile: {{ adguard_os_rlimit_nofile }}
schema_version: {{ adguard_schema_version }}
