TONEM_UMAMI_POSTGRES_PASSWORD={{ tonem_analytics_postgres_password | to_json }}
DATABASE_URL={{ tonem_analytics_database_url | to_json }}
APP_SECRET={{ tonem_analytics_app_secret | to_json }}
TONEM_UMAMI_ADMIN_PORT={{ tonem_analytics_admin_port }}
