NODE_ENV=production
DATABASE_PATH=/data/jarvis.sqlite
RKLLM_BASE_URL=http://rkllm:8080/v1
RKLLM_MODEL={{ home_ai_model_name }}
RKLLM_TIMEOUT_MS={{ home_ai_rkllm_request_timeout_seconds | int * 1000 }}
RKLLM_MAX_NEW_TOKENS={{ home_ai_rkllm_max_new_tokens }}
ALLOWED_TELEGRAM_USER_ID={{ home_ai_allowed_telegram_user_id }}
ALLOWED_TELEGRAM_CHAT_ID={{ home_ai_allowed_telegram_chat_id }}
BRAVE_DAILY_LIMIT={{ home_ai_brave_daily_limit }}
DEEPSEEK_DAILY_LIMIT={{ home_ai_deepseek_daily_limit }}
DEEPSEEK_MAX_TOKENS={{ home_ai_deepseek_max_tokens }}
DEEPSEEK_BASE_URL={{ home_ai_deepseek_base_url }}
HISTORY_TTL_DAYS={{ home_ai_history_ttl_days }}
HISTORY_MAX_MESSAGES={{ home_ai_history_max_messages }}
AUDIT_TTL_DAYS={{ home_ai_audit_ttl_days }}
QBITTORRENT_URL={{ home_ai_qbittorrent_url }}
ACTION_BROKER_SOCKET={{ home_ai_action_broker_socket }}
ROUTER_API_URL={{ home_ai_router_api_url }}
ROUTER_VPN_SELECTOR={{ home_ai_router_vpn_selector }}
TELEGRAM_BOT_TOKEN_FILE=/run/secrets/telegram_bot_token
PAIRING_SECRET_FILE=/run/secrets/pairing_secret
BRAVE_API_KEY_FILE=/run/secrets/brave_api_key
DEEPSEEK_API_KEY_FILE=/run/secrets/deepseek_api_key
ACTION_BROKER_TOKEN_FILE=/run/secrets/action_broker_token
QBITTORRENT_USERNAME_FILE=/run/secrets/qbittorrent_username
QBITTORRENT_PASSWORD_FILE=/run/secrets/qbittorrent_password
