{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {"type": "grafana", "uid": "-- Grafana --"},
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "События",
        "type": "dashboard"
      }
    ]
  },
  "editable": false,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "panels": [
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Есть сбой"}, "1": {"text": "Работает"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 5, "w": 6, "x": 0, "y": 0},
      "id": 1,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_connectivity_status", "range": false, "refId": "A"}],
      "title": "Каналы связи",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Есть сбой"}, "1": {"text": "Работает"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 5, "w": 6, "x": 6, "y": 0},
      "id": 2,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_infrastructure_status", "range": false, "refId": "A"}],
      "title": "Инфраструктура",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Есть сбой"}, "1": {"text": "Работает"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 5, "w": 6, "x": 12, "y": 0},
      "id": 3,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_services_status", "range": false, "refId": "A"}],
      "title": "Публичные сервисы",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {"defaults": {"color": {"mode": "thresholds"}, "thresholds": {"mode": "absolute", "steps": [{"color": "green", "value": 0}, {"color": "orange", "value": 250}, {"color": "red", "value": 800}]}, "unit": "ms"}, "overrides": []},
      "gridPos": {"h": 5, "w": 6, "x": 18, "y": 0},
      "id": 4,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_response_time_ms", "range": false, "refId": "A"}],
      "title": "Среднее время отклика",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {"h": 1, "w": 24, "x": 0, "y": 5},
      "id": 10,
      "panels": [],
      "title": "Каналы",
      "type": "row"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 0, "y": 6},
      "id": 11,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_channel_status{area=\"primary\"}", "range": false, "refId": "A"}],
      "title": "Основной канал",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 8, "y": 6},
      "id": 12,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_channel_status{area=\"reserve\"}", "range": false, "refId": "A"}],
      "title": "Резервный канал",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 16, "y": 6},
      "id": 13,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_channel_status{area=\"local\"}", "range": false, "refId": "A"}],
      "title": "Локальный канал",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {"h": 1, "w": 24, "x": 0, "y": 10},
      "id": 20,
      "panels": [],
      "title": "Площадки",
      "type": "row"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступна"}, "1": {"text": "Доступна"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 0, "y": 11},
      "id": 21,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_site_status{area=\"central\"}", "range": false, "refId": "A"}],
      "title": "Центральная площадка",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступна"}, "1": {"text": "Доступна"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 8, "y": 11},
      "id": 22,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_site_status{area=\"external\"}", "range": false, "refId": "A"}],
      "title": "Внешняя площадка",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступна"}, "1": {"text": "Доступна"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 8, "x": 16, "y": 11},
      "id": 23,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_site_status{area=\"home\"}", "range": false, "refId": "A"}],
      "title": "Домашняя площадка",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {"h": 1, "w": 24, "x": 0, "y": 15},
      "id": 30,
      "panels": [],
      "title": "Сервисы",
      "type": "row"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 6, "x": 0, "y": 16},
      "id": 31,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_service_status{area=\"access\"}", "range": false, "refId": "A"}],
      "title": "Страница доступа",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 6, "x": 6, "y": 16},
      "id": 32,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_service_status{area=\"main\"}", "range": false, "refId": "A"}],
      "title": "Основная страница",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 6, "x": 12, "y": 16},
      "id": 33,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_service_status{area=\"assistant\"}", "range": false, "refId": "A"}],
      "title": "Помощник",
      "type": "stat"
    },
    {
      "datasource": {"type": "prometheus", "uid": "{{ monitoring_grafana_prometheus_uid }}"},
      "fieldConfig": {
        "defaults": {
          "color": {"mode": "thresholds"},
          "mappings": [{"options": {"0": {"text": "Недоступен"}, "1": {"text": "Доступен"}}, "type": "value"}],
          "thresholds": {"mode": "absolute", "steps": [{"color": "red", "value": 0}, {"color": "green", "value": 1}]}
        },
        "overrides": []
      },
      "gridPos": {"h": 4, "w": 6, "x": 18, "y": 16},
      "id": 34,
      "options": {"colorMode": "background", "graphMode": "none", "justifyMode": "center", "orientation": "auto", "reduceOptions": {"calcs": ["lastNotNull"], "fields": "", "values": false}, "textMode": "value", "wideLayout": true},
      "targets": [{"editorMode": "code", "expr": "public_service_status{area=\"operations\"}", "range": false, "refId": "A"}],
      "title": "Служебный раздел",
      "type": "stat"
    }
  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "style": "dark",
  "tags": ["public", "status"],
  "templating": {"list": []},
  "time": {"from": "now-6h", "to": "now"},
  "timezone": "",
  "title": "Статус сервисов",
  "uid": "public-service-status",
  "version": 3,
  "weekStart": ""
}
