apiVersion: 1

datasources:
  - name: Prometheus
    uid: {{ monitoring_grafana_prometheus_uid }}
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Loki
    uid: {{ monitoring_grafana_loki_uid }}
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
