#!/bin/sh
set -eu

{% if backup_remnawave_pg_dump_enabled | bool %}
prepare_dir="{{ backup_prepare_dir }}"
tmp_file="${prepare_dir}/{{ backup_remnawave_pg_dump_filename }}.tmp"
final_file="${prepare_dir}/{{ backup_remnawave_pg_dump_filename }}"

mkdir -p "${prepare_dir}"

docker exec {{ backup_remnawave_pg_dump_container_name }} \
  pg_dumpall -U {{ remnawave_panel_postgres_user | quote }} \
  | gzip -9 > "${tmp_file}"

mv "${tmp_file}" "${final_file}"
{% else %}
exit 0
{% endif %}
