APP_PORT={{ remnawave_subscription_page_app_port_effective }}
REMNAWAVE_PANEL_URL={{ remnawave_subscription_page_panel_url_effective }}
REMNAWAVE_API_TOKEN={{ remnawave_subscription_page_api_token }}
{% if remnawave_subscription_page_custom_sub_prefix_effective | length > 0 %}
CUSTOM_SUB_PREFIX={{ remnawave_subscription_page_custom_sub_prefix_effective }}
{% endif %}
