- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present

- name: Configure jail.local
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0644"
  notify: Restart fail2ban

- name: Ensure fail2ban is enabled
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
