server {
    listen 80;
    listen [::]:80;
    server_name {{ remnawave_tonem_xhttp_domain }};
    access_log off;
    server_tokens off;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/tonem-xhttp-acme;
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}

